html {
  position: fixed;
  width: 100vw;
  height: 100vh;
  margin: 0; }

body {
  margin: 0;
  position: fixed;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  background: #1d1c2e;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat; }

img#logo {
  position: fixed;
  left: 15px;
  top: 20px;
  z-index: 10000;
  width: 200px;
  cursor: pointer; }

div#disco-ball {
  position: fixed;
  left: 0;
  right: 0;
  top: 10px;
  width: 200px;
  height: 200px;
  background-size: 200px;
  z-index: 4;
  margin: 0 auto 0 auto;
  -webkit-filter: contrast(0.9) brightness(1.2) drop-shadow(0px 0px 20px #EDFEFF);
  transform: translateY(-200px);
  transition: transform 0.5s;
  transition-timing-function: easeOutBack;
  background-image: url(../img/disco-ball.png);
  animation: playdiscoball 0.4s steps(5) infinite; }

@keyframes playdiscoball {
  from {
    background-position-y: 0px; }
  to {
    background-position-y: 1000px; } }
div#disco-ball.visible {
  transform: translateY(-110px);
  transition: transform 0.5s;
  transition-timing-function: easeOutBack; }

div#auto-switch_container {
  position: absolute;
  display: flex;
  align-items: center;
  width: 312px;
  top: 15px;
  right: -130px;
  transition: transform 0.3s;
  cursor: pointer;
  opacity: 0.2;
  transform: translateY(-100px);
  transition: opacity 0.2s, transform 0.3s; }
  div#auto-switch_container h3 {
    font-size: 12px;
    letter-spacing: 1px;
    display: block;
    text-transform: uppercase;
    margin: 0 8px 0 0;
    color: #E2FBFF;
    text-align: right;
    font-family: Helvetica; }
  div#auto-switch_container svg#auto-switch {
    height: 50px; }
    div#auto-switch_container svg#auto-switch rect#playbar {
      opacity: 0;
      transition: opacity 0.3s; }
    div#auto-switch_container svg#auto-switch rect#playbar.active {
      opacity: 1;
      transition: opacity 0.3s; }
    div#auto-switch_container svg#auto-switch circle#slider {
      transition: transform 0.3s; }
    div#auto-switch_container svg#auto-switch circle#slider.active {
      transform: translateX(150px);
      transition: transform 0.3s; }

div#auto-switch_container:hover {
  opacity: 1;
  transition: opacity 0.2s; }

div#auto-switch_container.visible {
  transform: translateY(0px);
  transition: opacity 0.2s, transform 0.3s; }

div#background {
  width: 100%;
  height: 100%;
  background: #1d1c2e;
  position: absolute;
  top: 0;
  left: 0;
  background-position: center center;
  background-size: cover;
  transform: scale(1.1); }

div.blue-fill {
  box-sizing: border-box; }

div#blue-fill-left {
  width: 50%;
  height: 100%;
  background: #1d1c2e;
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: left center;
  -webkit-transform-style: preserve-3d; }

div#blue-fill-right {
  width: 50%;
  height: 100%;
  background: #1d1c2e;
  position: absolute;
  top: 0;
  right: 0;
  transform-origin: right center;
  -webkit-transform-style: preserve-3d; }

div#environment {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh; }
  div#environment div#ground-perspective-wrapper {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: fixed;
    perspective: 1600px;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 100vw;
    height: 100vh; }
  div#environment div#ground {
    position: relative;
    flex-shrink: 0;
    width: 4000px;
    height: 3300px;
    transform-origin: center calc(100% - 400px);
    transform: translateY(200px) rotateX(63deg) scale(0.9); }
    div#environment div#ground div#grid-lines {
      width: 100%;
      height: 100%;
      background-image: url("../img/bg-tile.png");
      background-size: 100px 100px;
      background-position: 0px 50px;
      position: absolute;
      top: 0;
      left: 0;
      opacity: 1; }
    div#environment div#ground svg#floor {
      position: absolute;
      left: 0;
      top: 0;
      bottom: 200px;
      right: 0;
      margin: auto auto 0 auto;
      overflow: hidden;
      transform: translateZ(10px);
      -webkit-transform-style: preserve-3d; }
      div#environment div#ground svg#floor rect.floor-tile {
        transform-origin: center center; }
      div#environment div#ground svg#floor g#lines {
        pointer-events: none; }
      div#environment div#ground svg#floor g#small-tiles > rect {
        fill: #82D3E0;
        opacity: 0;
        transition: opacity 0.01s;
        cursor: pointer; }
      div#environment div#ground svg#floor g#small-tiles > rect:hover {
        opacity: 0.4;
        transition: opacity 0.01s;
        cursor: pointer; }
      div#environment div#ground svg#floor g#small-tiles > rect.active {
        opacity: 0.9;
        transition: opacity 0.01s;
        cursor: pointer; }
      div#environment div#ground svg#floor g#big-tiles > rect {
        fill: #D973D4;
        opacity: 0;
        transition: opacity 0.05s; }
      div#environment div#ground svg#floor g#big-tiles > rect:hover {
        opacity: 0.2;
        transition: opacity 0.05s;
        cursor: pointer; }
      div#environment div#ground svg#floor g#big-tiles > rect.active {
        opacity: 1;
        transition: opacity 0.05s; }
      div#environment div#ground svg#floor g#big-tiles > svg {
        pointer-events: none; }
        div#environment div#ground svg#floor g#big-tiles > svg image {
          pointer-events: none;
          opacity: 1;
          transition: opacity 0.05s; }
        div#environment div#ground svg#floor g#big-tiles > svg image.hidden {
          opacity: 0;
          transition: opacity 0.05s; }
        div#environment div#ground svg#floor g#big-tiles > svg image.dimmed {
          opacity: 0.3; }
      div#environment div#ground svg#floor g#small-tiles > rect.special {
        fill: #E0B682;
        opacity: 0;
        transition: opacity 0.3s; }
      div#environment div#ground svg#floor g#small-tiles > rect.special:hover {
        opacity: 0.7;
        transition: opacity 0.05s;
        background-size: 100%;
        background-repeat: no-repeat; }
      div#environment div#ground svg#floor g#small-tiles > rect.special.active {
        opacity: 1;
        transition: opacity 0.05s; }
      div#environment div#ground svg#floor g#arpeggiator > rect:not(#background) {
        fill: #fff;
        opacity: 0;
        transition: opacity 0.05s; }
      div#environment div#ground svg#floor g#arpeggiator > rect:not(#background):hover {
        opacity: 0.2;
        transition: opacity 0.05s; }

div#shamir-container {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none; }

div.shamir {
  width: 300px;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  visibility: visible;
  overflow: hidden;
  transform-origin: center bottom;
  pointer-events: none; }
  div.shamir div {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    background-image: url(../img/dance.gif);
    background-size: auto 200%;
    background-position: center bottom;
    transform-origin: center bottom;
    background-repeat: no-repeat;
    opacity: 1; }
  div.shamir div.frame0 {
    background-position: 50% 0%; }
  div.shamir div.frame1 {
    background-position: 50% 100%; }

div.shamir[data-depth-index="0"] > div {
  height: 300px; }

div.shamir[data-depth-index="1"] > div {
  height: 350px; }

div.shamir[data-depth-index="2"] > div {
  height: 310px; }

div.shamir[data-depth-index="3"] > div {
  height: 430px; }

div.shamir[data-depth-index="4"] > div {
  height: 500px; }

div.shamir.hidden {
  visibility: hidden; }

image.special-star {
  pointer-events: none;
  opacity: 0.8; }

image.tile-gradient {
  pointer-events: none;
  opacity: 0.1;
  transition: opacity 0.5s; }

image.tile-gradient.glowing {
  opacity: 0.7;
  transition: opacity 0.01s; }

div.scan-line {
  width: 100%;
  height: 200px;
  background-color: rgba(140, 200, 210, 0.2);
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0;
  z-index: -1;
  transform: translateY(1px);
  will-change: transform;
  pointer-events: none; }

circle.click-ripple {
  pointer-events: none;
  -webkit-filter: drop-shadow(0px 0px 5px white); }

div.confetti {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background: url(../img/confetti.gif);
  background-size: 200px;
  opacity: 0;
  transform: translateY(-100px);
  pointer-events: none;
  overflow: hidden;
  transform-origin: center top; }

img.image-preloader {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0; }

* {
  -webkit-backface-visibility: hidden; }

/*# sourceMappingURL=main.css.map */
